@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
    display: none;
}
body {
  font-family: "Lora", serif;
}
ul,
li,
a {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: #000;
}

.allmenu{
    position: relative;
    width: 100%;
    height: 100vh;
}
.close{
    background: transparent;
    border: none;
    position: absolute;
    right: 50px;
    top: 38px;
    width: 36px;
    height: 36px;
    z-index: 100;
    &::before{
        display: block;
        content: "";
        position: absolute;
        top: -6px;
        left: 17px;
        background: #000;
        transform: rotate(-45deg);
        width: 2px;
        height: calc(100% + 12px);
        transition: 0.3s;
        z-index: 10;
    }
    &::after{
        display: block;
        content: "";
        position: absolute;
        top: -6px;
        left: 17px;
        background: #000;
        transform: rotate(-45deg);
        width: 2px;
        height: calc(100% + 12px);
        transition: 0.3s;
        z-index: 10;
        transform: rotate(45deg);
    }
}
.blind{
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}
.inner{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.menu_bg{
    position: relative;
    width: 50%;
    background: linear-gradient(-45deg, #d5d6d7, #d8d8d6, #d8d8d6);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.bg{
    // position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate(-77px, 0px);
    img{
        height: 100vh;
    }
}
.i{
    position: absolute;
    top: 0;
    right: 0;
}
.slogan{
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -70px;
    z-index: 10;
    svg{
        width: 140px;
        height: 21px;
        display: block;
        margin: 0 auto 40px;
    }
}
.text{
    font-size: 3.4rem;
    font-family: 'Lora',sans-serif;
    color: #000;
    line-height: 1.35;
}
.all_gnb_wrap{
    padding: 5% 5%;
    position: relative;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    // line-height: 1rem;
}
.all_gnb{
    list-style: none;
    padding: 20% 0;
}
.dep1{
    margin-bottom: 3rem;
}
.title{
    font-size: 4rem;
    margin-bottom: 1.5rem;
}
.title2{
    font-family: 'Noto Sans KR';
    font-weight: 300;
}
.title2 a:hover{
    color: rgb(255, 107, 107);
}